
<section class="hero" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <div class="carousel-inner">
      <div class="item active"> <img src="img/bg-banner1.jpg" style="width:100%" alt="Family having fun playing badmitton">
        <div class="container">
          <div class="carousel-caption">
            <h1>Nationwide Kits</h1>
            <h2>Customize existing kits by choosing which optional components you want to include, or by adjusting component quantities.</h2>
           
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section  id="about" class="about-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
 
        <h2>Our brand comes to life in everything that reaches our audiences.</h2>
          <p>On this website, you'll find the details on how to create a consistent, engaging experience.</p>
      </div>
    </div>
  </div>
</section>
<section id="do" class="features-list">
  <div class="container">
    <div class="row">
      <div class="col-md-7"><img src="img/front-1.png" alt="Business man sitting at desk with a pleasant laugh." class="img-responsive"></div>
      <div class="col-md-5">
        <h2>Who is this for?</h2>
        <h4>It's for each and every Nationwide Associate.</h4>
        <p>.</p>
      </div>
      <div class="row">
        <div class="col-md-11">
          <blockquote>
            <h2>“We are not just a company. We are a people’s organization.”</h2>
            <p>— Murray D. Lincoln, Founder and President 1939 - 1964</p>
          </blockquote>
          <p></p>
      </div>
    </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Glossary</h4>
      </div>
      <div class="modal-dialog modal-lg"> <img src="../img/glossary.png" width="891" height="672"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!---MODAL-------> 
<!---MODAL------->
<div class="modal fade bs-example-modal-lg" id="logoModal" tabindex="-1" role="dialog" aria-labelledby="logoModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="logoModalLabel">Contacts</h4>
      </div>
      <div class="modal-dialog modal-lg"> <img src="../img/contact.png" width="891" height="537"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!---MODAL------->
<div class="modal fade bs-example-modal-lg" id="disModal" tabindex="-1" role="dialog" aria-labelledby="disModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="disModalLabel">Disclaimer</h4>
      </div>
      <div class="modal-dialog modal-lg"> Copyright
All materials within this site is subject to copyright laws, reproduction, re-transmission or reprinting is prohibited without written permission from Nationwide Mutual Insurance.

Disclaimer of Liability
The user assumes all responsibility for the use of this Web site. Under no circumstances, including negligence, shall the Nationwide Mutual Insurance or anyone else involved in creating or maintaining this Web site be liable for any DIRECT, INDIRECT, INCIDENTAL, SPECIAL or CONSEQUENTIAL DAMAGES, or LOST PROFITS that result from the use or inability to use the Web site and/or any other Web sites which are linked to this site, including, but not limited to, reliance by a member or visitor on any information obtained via the Web site; or that result from mistakes, omissions, interruptions, deletion of files, viruses, errors, defects, or any failure of performance, communications failure, theft, destruction or unauthorized access.

In states which do not allow some or all of the above limitations of liability, liability shall be limited to the greatest extent allowed by law.

Online Conduct
Members and visitors agree to use the Web site only for lawful purposes and are prohibited from posting on the Web site any unlawful, harmful, threatening, abusive, harassing, defamatory, obscene or otherwise objectionable material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law.

Third Party and External Links
Nationwide Mutual Insurance is not responsible for any external link associated with Nationwide Mutual Insurance. Each link from Nationwide Mutual Insurance is responsible for its own content and material. Nationwide Mutual Insurance does not endorse or attest to the accuracy of any site outside of Nationwide Mutual Insurance. </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


