
<section class="hero" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <div class="carousel-inner">
      <div class="item active"> <img src="img/bg-banner1.jpg" style="width:100%" alt="Family having fun playing badmitton">
        <div class="container">
          <div class="carousel-caption">
            <h1>Financial Product Kit</h1>
            <h2>Digital distribution of financial product literature and forms enabling wholesalers, advisors, and agents to provide consumers with relevant information. </h2>
           
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section  id="about" class="about-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
 
        <h2>Problem statement</h2>
          <p>Problem statement</p>
      </div>
    </div>
  </div>
</section>
<section id="do" class="features-list">
  <div class="container">
    <div class="row">
      <div class="col-md-7"><img src="img/front-1.png" alt="Business man sitting at desk with a pleasant laugh." class="img-responsive"></div>
      <div class="col-md-5">
        <h2>Who is this for?</h2>
        <h4>Wholesalers, Agents, Finacial Advisors</h4>
        <h2>How much is this costing us?</h2>
        <h4>$1,000,000,000,000</h4>
        <h2>By introducing this what will we save?</h2>
        <h4>$999,999,999</h4>
        
        <p>.</p>
      </div>
      <div class="row">
        <div class="col-md-11">
          
          <p></p>
      </div>
    </div>
  </div>
</section>








