
<section class="hero" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <div class="carousel-inner">
      <div class="item active"> <img src="img/bg-banner1.jpg" style="width:100%" alt="Family having fun playing badmitton">
        <div class="container">
          <div class="carousel-caption">
            <h1>Digital Literature Distribution</h1>
            <h2>Enables wholesalers, advisors, and agents with the ability to obtain tailored financial product literature and forms in their preferred distribution method, with a digital first focus.</h2>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section  id="about" class="about-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
 
        <h2>Preferences and time-to-market needs are changing to digital and on-demand solutions. In an industry predominately dependent on distributing printed materials, there needs to be solutions with a digital first focus. Providing cost effective and timely alternatives are more important than ever for financial planners as they provide guidance and advice to consumers.
</h2>
      </div>
    </div>
  </div>
</section>
<section id="do" class="features-list">
  <div class="container">
    <div class="row">
      <div class="col-md-7"><img src="img/front-1.png" alt="Business man sitting at desk with a pleasant laugh." class="img-responsive"></div>
      <div class="col-md-5">
        
        
        <p><strong>Drivers:</strong>
<h2>#1 request from wholesalers, advisors, agents -> “Provide digital distribution of financial product kits.”</h2>

<ul>
  <li>Access is immediate vs waiting for shipment of physical kits</li>
  <li>Allows for pre-meeting planning with clients to help tailor offerings</li>
<li>Advisors and consumers feel the standard kit, as it is delivered today, is comprehensive but also overwhelming</li>
<li>Advisors admit they "pitch" most of the material shipped to them as they are only looking for key components until decisions are made to purchase products</li>
</ul>

<strong>Reduce print and shipping costs</strong>
<ul>
  <li>Over a 12-month period over 550,000 physical kits are ordered</li>
<li>The cost to get a kit into the advisors hands ranges from $6.76 up to $18.50 for print and fulfillment and $7 - $10 for shipping.</li>
<li>High number of orders are sent overnight to accommodate advisor needs for meetings scheduled with clients</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-11">
 
          <strong>Savings opportunities include: </strong>
<p>Monetary:
<ul><li>A conservative estimate of the lowest price kit, at a 5% rate for digital over print distribution, the first year savings would exceed $207,000.</li></ul>

<p>Environmental
<ul>li>Reduction of carbon footprint – (i.e. gas, jet fuel, electricity for production and fulfillment, etc.)</ul>
          <li>Paper – trees, ink</li></ul>
    

</p>
      </div>
    </div>
  </div>
</section>








