<div class="container">

<link href="css/queries.css" rel="stylesheet">
<link rel="stylesheet" href="css/layout.css">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <section id="pa">
    <div id="info">
      <div class="info-wrapper">
        <p><b>Choose a Nationwide Kit from the library below to help drive your message</b><br>
          Customize existing kits by choosing which optional components you want to include, or by adjusting component quantities.</p>
      </div>
    </div>
    <div class="container">
    <div class="row">
		<div class="col-md-12">
			<h1>Nationwide Kit Catalog</h1>
			<p>Type some descriptive text to search or use the filters below:</p>
			<input type="text" class="form-control search-game" placeholder="Search Icons..."> </div>
		</div>
      <ul id="filters" class="clearfix">
        <li><span class="filter active" data-filter=".fin, .prop, .agri, .bus, .pers">All</span></li>
        <li><span class="filter" data-filter=".fin">Financial</span></li>
        <li><span class="filter" data-filter=".prop">Property &amp; Casualty</span></li>
        <li><span class="filter" data-filter=".agri">Fixed Annuity</span></li>
        <li><span class="filter" data-filter=".bus">Fixed Life</span></li>
        <li><span class="filter" data-filter=".pers">Variable Annuity</span></li>
      </ul>
      <div id="portfoliolist">
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/401KBox_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">401 K</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Airplane_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" border="0" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Airplane</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Bandage_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bandage</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BagOfChickenFeed_Blue.zip"><img src="img/portfolios/kit4.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bag of Chicken Feed</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
      
        
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Barbells_Blue.zip"><img src="img/portfolios/kit5.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bar Bell</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/BarGraph_Blue.zip"><img src="img/portfolios/kit6.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bar Graph</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
       
        
      
        
        
       
       
        
      </div>
    </div>
    <!-- container --> 
  </section>
  
  <!--END SECTION------->
  

  
  <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labeleledby="myModallabele">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-labele="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModallabele">Glossary</h4>
        </div>
        <div class="modal-dialog modal-lg"> <img src="img/glossary.png" width="891" height="672"> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="ico1Modal" tabindex="-1" role="dialog" aria-labeleledby="ico1Modallabele">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-labele="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ico1Modallabele"><strong>401k Icon</strong></h4>
        </div>
        <div class="modal-dialog modal-lg">
          <div style="padding:20px;"> <img src="icons/401KBox.jpg" class="thumbnail img-responsive">
            <p>There is also a white one, you can download them and use them and be happy in your ability to use icons appropriately.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal">download</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!---MODAL------->
  

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -----------------------------> 
<script src="js/min/toucheffects-min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script> 
<script src="js/flickity.pkgd.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed -------> 
<script src="js/retina.js"></script> 
<script src="js/waypoints.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/min/scripts-min.js"></script> 
<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.fin, .prop, .agri, .bus, .pers'  
      		}     
				});								
			
			}

		};
		
		// Run the show!
		filterList.init();
		
		
	});	
	</script> 
<script>
// Add scrollspy to <body>
$('body').scrollspy({target: ".nav-sidebar"});

// Add smooth scrolling to all links inside a navbar
$("#nav-sidebar a").on('click', function(event){

  // Prevent default anchor click behavior
  event.preventDefault();
});
</script> 

</div>

