<div class="container">
  <div id="nav-sidebar" class="col-sm-3 col-md-2 sidebar wrap"  ng-controller="MyCtrl">
  <nav>
      <ul id="navPills" class="nav nav-pills nav-stacked">
        <li ><a href="#cc" du-smooth-scroll du-scrollspy>Mission &amp; Vision<span class="sr-only">(current)</span></a></li>
        <li><a href="#ct" du-smooth-scroll du-scrollspy>Character Traits</a></li>
        <li><a href="#ob" du-smooth-scroll du-scrollspy>One Brand</a></li>
        <li><a href="#camp" du-smooth-scroll du-scrollspy>Campaign Assets</a></li>
      </ul>
   </nav>
  </div>
<link href="css/queries.css" rel="stylesheet">
<link rel="stylesheet" href="css/layout.css">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <section id="pa">
    <div id="info">
      <div class="info-wrapper">
        <p><b>Choose a Nationwide Kit from the library below to help drive your message</b><br>
          Customize existing kits by choosing which optional components you want to include, or by adjusting component quantities.</p>
      </div>
    </div>
    <div class="container">
    <div class="row">
		<div class="col-md-12">
			<h1>Nationwide Kit Catalog</h1>
			<p>Type some descriptive text to search or use the filters below:</p>
			<input type="text" class="form-control search-game" placeholder="Search Icons..."> </div>
		</div>
      <ul id="filters" class="clearfix">
        <li><span class="filter active" data-filter=".fin, .prop, .agri, .bus, .pers">All</span></li>
        <li><span class="filter" data-filter=".fin">Financial</span></li>
        <li><span class="filter" data-filter=".prop">Property &amp; Casualty</span></li>
        <li><span class="filter" data-filter=".agri">Fixed Annuity</span></li>
        <li><span class="filter" data-filter=".bus">Fixed Life</span></li>
        <li><span class="filter" data-filter=".pers">Variable Annuity</span></li>
      </ul>
      <div id="portfoliolist">
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/401KBox_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">401 K</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Airplane_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" border="0" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Airplane</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Bandage_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bandage</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BagOfChickenFeed_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bag of Chicken Feed</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
      
        
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Barbells_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bar Bell</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/BarGraph_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bar Graph</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/BarGraphForwardArrow_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bar Graph with Arrow</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BarnAndGear_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Barn and Gear</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BarnAndMan_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Barn with Man</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BarnWithField_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Barn with Field</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BarnWithSilo_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Barn with Silo</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Baseball_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Baseball</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Battery_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Battery</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/BBQGrill_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">BBQ Grill</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio bus" data-cat="bus">
          <div class="portfolio-wrapper"> <a href="zip/Briefcase_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Brief Case</a> <span class="text-category">Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/BrokenWindow_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Broken Window</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/BuildingAndShield_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Building with Shield</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/BuildingWithSilo_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Building with Silo</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/BullHorn_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Bull Horn</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Caduceus_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Caduceus</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/Calculator_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Calculator</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers fin" data-cat="pers fin">
          <div class="portfolio-wrapper"> <a href="zip/Calendar_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Calendar</a> <span class="text-category">General, Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Camera1_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Camera</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/Car_Front_View_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Car</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/Car_side_view_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Side View Car</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers agri" data-cat="pers agri">
          <div class="portfolio-wrapper"> <a href="zip/CashAward_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Cash Award</a> <span class="text-category">General, Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/ChatBubbles_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Chat Bubbles</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio bus" data-cat="bus">
          <div class="portfolio-wrapper"> <a href="zip/CheckBox_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Check Mark</a> <span class="text-category">Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/CityBuilding_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">City Buildings</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/ClassicCar_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Classic Car</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/ComfyChair_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Chair</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"><a href="zip/ComputerScreen_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Computer Screen</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>

        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Crutches_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Crutches</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/CustomeBike_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Custom Motorcycle</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin bus" data-cat="fin bus">
          <div class="portfolio-wrapper"> <a href="zip/CycleArrows_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Cycle Arrows</a> <span class="text-category">Finance, Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/DeckChair_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Deck Chair</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/DeliveryTruck_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Delivery Truck</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin" data-cat="fin">
          <div class="portfolio-wrapper"> <a href="zip/DepositeCheck_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Deposit Check</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/Diamond_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Diamond</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin bus" data-cat="fin bus">
          <div class="portfolio-wrapper"> <a href="zip/DollarBill_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Dollar Bill</a> <span class="text-category">Finance, Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin bus" data-cat="fin bus">
          <div class="portfolio-wrapper"> <a href="zip/DollarBills_Cycling_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Dollar Bills Cycling</a> <span class="text-category">Finance, Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/DownPrecentArrow_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Down Percent Arrow</a> <span class="text-category">Finance</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/DryCleaning_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Dry Cleaning</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Eye_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Eye</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"><a href="zip/Fence_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Fence</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri" data-cat="agri">
          <div class="portfolio-wrapper"> <a href="zip/FenceAndField_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Fence and Field</a> <span class="text-category">Agribusiness</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin bus" data-cat="fin bus">
          <div class="portfolio-wrapper"> <a href="zip/Fillingcabinet_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Filing Cabinet</a> <span class="text-category">Finance, Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/Fire_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Fire</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio prop" data-cat="prop">
          <div class="portfolio-wrapper"> <a href="zip/FireExtinguisher_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Fire Extinguisher</a> <span class="text-category">Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/FlashLight_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Flash Light</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio fin bus" data-cat="fin bus">
          <div class="portfolio-wrapper"> <a href="zip/Folder_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Folder</a> <span class="text-category">Finance, Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio agri prop" data-cat="agri prop">
          <div class="portfolio-wrapper"> <a href="zip/FoodGard_Blue.zip"><img src="img/portfolios/kit1.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Food Guard</a> <span class="text-category">Agribusiness, Property</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio pers" data-cat="pers">
          <div class="portfolio-wrapper"> <a href="zip/Football_Blue.zip"><img src="img/portfolios/kit2.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Football</a> <span class="text-category">General</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        <div class="portfolio bus" data-cat="bus">
          <div class="portfolio-wrapper"> <a href="zip/Form1_Blue.zip"><img src="img/portfolios/kit3.jpg" alt="" /></a>
            <div class="labele">
              <div class="labele-text"> <a class="text-title">Form One</a> <span class="text-category">Business</span> </div>
              <div class="labele-bg"></div>
            </div>
          </div>
        </div>
        
        
       
       
        
      </div>
    </div>
    <!-- container --> 
  </section>
  
  <!--END SECTION------->
  

  
  <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labeleledby="myModallabele">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-labele="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModallabele">Glossary</h4>
        </div>
        <div class="modal-dialog modal-lg"> <img src="img/glossary.png" width="891" height="672"> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="ico1Modal" tabindex="-1" role="dialog" aria-labeleledby="ico1Modallabele">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-labele="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ico1Modallabele"><strong>401k Icon</strong></h4>
        </div>
        <div class="modal-dialog modal-lg">
          <div style="padding:20px;"> <img src="icons/401KBox.jpg" class="thumbnail img-responsive">
            <p>There is also a white one, you can download them and use them and be happy in your ability to use icons appropriately.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal">download</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!---MODAL------->
  

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -----------------------------> 
<script src="js/min/toucheffects-min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script> 
<script src="js/flickity.pkgd.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed -------> 
<script src="js/retina.js"></script> 
<script src="js/waypoints.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/min/scripts-min.js"></script> 
<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.fin, .prop, .agri, .bus, .pers'  
      		}     
				});								
			
			}

		};
		
		// Run the show!
		filterList.init();
		
		
	});	
	</script> 
<script>
// Add scrollspy to <body>
$('body').scrollspy({target: ".nav-sidebar"});

// Add smooth scrolling to all links inside a navbar
$("#nav-sidebar a").on('click', function(event){

  // Prevent default anchor click behavior
  event.preventDefault();
});
</script> 

</div>

