<html>

<head>
	<title>Custom Kit Builder</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js""></script>
	<script src="../js/angular-drag-and-drop-lists.js"></script>
</head>

<style>
</style>

<body ng-app="kitBuilder">

	<div ng-controller="kitBuilderController">

		<table style="width:100%;">
			<tr>
				<td style="width:25%">Required</td>
				<td style="width:25%">Optional</td>
				<td style="width:50%"></td>
			</tr>
			<tr>
				<td>
					<ul dnd-list="required">
    					<li ng-repeat="component in required"
    						dnd-draggable="component"
    						dnd-moved="required.splice($index, 1)"
        					dnd-effect-allowed="move"
        					dnd-selected="selected = component"
        					ng-class="{'selected': selected === component">
    						<a href="../pdf/{{component.pdf}}"><img src="../thumbnails/{{component.image}}"></a>
						</li>
					</ul>
				</td>
				<td>
					<ul dnd-list="optional">
    					<li ng-repeat="component in optional"
    						dnd-draggable="component"
    						dnd-moved="optional.splice($index, 1)"
        					dnd-effect-allowed="move"
        					dnd-selected="selected = component"
        					ng-class="{'selected': selected === component">
    						<a href="../pdf/{{component.pdf}}"><img src="../thumbnails/{{component.image}}"></a>
						</li>
					</ul>
				</td>
				<td style="vertical-align:top">
					Explains living benefits of annuities
					<br>
					<ul>
						<li>Intended for distribution to clients</li>
						<li>Use for closing the sale</li>
						<li>Use for client education</li>
					</ul>
				</td>
			</tr>
		</table>

	</div>

	<script src="../js/kitBuilderController.js"></script>

</body>

</html>
